<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ABC-Laboratories System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta  name="keywords">
    <meta  name="description">

    <!-- Favicon -->
    <link href="../img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-white shadow-sm">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
                <a href="doctor.html" class="navbar-brand">
                    <h3 class="m-0 text-uppercase text-primary"><i
                            class="fa fa-clinic-medical me-2"></i>ABC-Laboratories-Doctor</h3>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="doctor.html" class="nav-item nav-link active">Home</a>
                        <a href="report.html" class="nav-item nav-link">View Report</a>
                        <a href="login.html" class="nav-item nav-link">Logout</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->



    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <form class="login-box bg-light rounded p-4" id="test-form">
                        <h3>Assign Test</h3>
                        <div class="form-group">
                            <select class="form-select bg-white border-1" id="fullname" name="fullname"
                                style="height: 55px;">
                                <option value="" selected>Select Full Name</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="test-type">Test Type:</label>
                            <input type="text" id="test-type" name="test-type" class="form-control bg-white border-1"
                                placeholder="Test Type" required>
                        </div>
                        <div class="form-group">
                            <label for="doctor-name">Doctor Name:</label>
                            <input type="text" class="form-control bg-white border-1" id="doctor-name"
                                name="doctor-name" placeholder="Doctor Name" required disabled>
                        </div>
                        <div class="form-group">
                            <label for="assign-date">Assign Date:</label>
                            <input type="date" class="form-control bg-white border-1" id="assign-date"
                                name="assign-date" required>
                        </div>
                        <button class="btn btn-primary w-100 py-3" type="submit">Save Test</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-9">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                        ABC-Laboratories</h4>
                    <p class="mb-4">A leading healthcare facility known for its state-of-the-art infrastructure,
                        advanced medical technologies and a team of highly skilled healthcare professionals dedicated to
                        delivering exceptional patient care.</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>123, Galle Road, Colombo, Sri
                        Lanka
                    </p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>info@abclabs.lk</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>+94 11 2345678</p>
                </div>
                <div class="col-lg-3">
                    <h6 class="text-primary text-uppercase mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2"
                            href="https://twitter.com/ABCLaboratories" target="_blank"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2"
                            href="https://www.facebook.com/ABCLaboratories" target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2"
                            href="https://www.linkedin.com/in/ABCLaboratories" target="_blank"><i
                                class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle"
                            href="https://instagram.com/ABCLaboratories" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-light border-top border-secondary py-4">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-primary" href="#">ABC-Laboratories</a>. All Rights
                        Reserved.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/waypoints/waypoints.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/tempusdominus/js/moment.min.js"></script>
    <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="../js/main.js"></script>
    <script src="../service/doctor.js"></script>
</body>

</html>