<!-- Footer Content -->
<div class="container-fluid bg-dark text-light mt-5 py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-9">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    ABC-Laboratories</h4>
                <p class="mb-4">A leading healthcare facility known for its state-of-the-art infrastructure,
                    advanced medical technologies and a team of highly skilled healthcare professionals dedicated to
                    delivering exceptional patient care.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>123, Galle Road, Colombo, Sri
                    Lanka
                </p>
                <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>info@abclabs.lk</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>+94 11 2345678</p>
            </div>
            <div class="col-lg-3">
                <h6 class="text-primary text-uppercase mt-4 mb-3">Follow Us</h6>
                <div class="d-flex">
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2"
                        href="https://twitter.com/ABCLaboratories" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2"
                        href="https://www.facebook.com/ABCLaboratories" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2"
                        href="https://www.linkedin.com/in/ABCLaboratories" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle"
                        href="https://instagram.com/ABCLaboratories" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-light border-top border-secondary py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">&copy; <a class="text-primary" href="#">ABC-Laboratories</a>. All Rights
                    Reserved.</p>
            </div>
        </div>
    </div>
</div>
